@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");

/* html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
} */

.text_colors {
  color: black;
}

.bg_colors {
  background-color: white;
}

.nav_colors {
}
.nav_activ_text_colors {
  color: #008000;
}
.nav_activ_bg_colors {
  background-color: #3b6b3b3a;
}
.nav_activ_left_border_colors {
  border-left: 2px solid green;
}
